
@font-face {
    font-family: '8bit';
    src: url('./Fonts/8_bit_arcade/8-bit Arcade In.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitween';
    src: url('./Fonts/bitween_10/BITWA2___.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'final';
    src: url('./Fonts/final/final.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kiwisoda';
    src: url('./Fonts/kiwisoda/KiwiSoda.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixelcards';
    src: url('./Fonts/pixelcards/PixelCards.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'v5bloques';
    src: url('./Fonts/v5bloques/V5_bloques.ttf');
    font-weight: normal;
    font-style: normal;
}